<div class="bookshelves">
    <% 
      user.bookshelves.each do |bookshelf| 
        log_star "bookshelf: #{bookshelf.inspect}"
        class_name = bookshelf.is_user_bound?(user) ? "special-bookshelf bookshelf" : "bookshelf"
    %>
    <div class="<%=class_name%>">
      <h3><%= bookshelf.name %></h3>
      <p>Created at: <%= bookshelf.created_at.strftime("%B %d, %Y") %></p>
      <%= link_to "Show this bookshelf", bookshelf %>
    </div>
    <% end %>
</div>