<div id="<%= dom_id alarm %>">
  <p>
    <strong>User:</strong>
    <%= alarm.user_id %>
  </p>

  <p>
    <strong>Alarm:</strong>
    <%= alarm.alarm_id %>
  </p>

  <p>
    <strong>Alarm type:</strong>
    <%= alarm.alarm_type %>
  </p>

</div>
