<% content_for :title, "Editing user" %>

<div class="container">
  <h1 class="title">Editing user</h1>

  <%= render "update", user: @user %>

  <br>

  <div>
    <%= button_to "Delete this users", @user, method: :delete, class: "button" %>
  </div>

</div>
