<% content_for :title, "Editing user" %>

<div class="container">
  <h1 class="title">Editing user</h1>

  <%= render "update", user: @user %>

  <br>

  <div class="links">
    <%= link_to "Show this user", @user %>
    <!--<%= link_to "Back to users", users_path %>-->
  </div>
</div>
