<h2>Post Recenti</h2>
<% posts = Current.user.get_homepage_posts %>
<% if posts.any? %>
    <ul>
        <%= render partial: 'posts/postcard', collection: posts, as: :post %>
    </ul>
<% else %>
    <p>Nessun post disponibile.</p>
<% end %>