<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="button_container">
  <% if Current.user&.admin? || @post.creator == Current.session&.id %>
    <div style="display: flex; gap: 10px;">
      <%= link_to "Edit this post", edit_post_path(@post), class: "button" %>
      <%= button_to "Destroy this post", @post, method: :delete, class: "button" %>
    </div>
  <% end %>
</div>
