.icon-preview {
    max-width: 50px;
    max-height: 50px;
    border-radius: 4px;
  }
  
.admin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
  margin: 0 auto;
}