body, html {
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
    width:98%;
    height:98%;
}

.button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #555;
}

.button_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
