html {
  height: 100%;
  overflow: hidden; /* Hide viewport scrollbar */
}

body {
  font-family: Garamond, serif;
  margin: 0;
  padding: 0;
  padding-top: 80px; /* compensate for navbar */
  margin-bottom: 60px; /* compensate for footer */
  background-color: #f4f4f9;
  height: 96%;
  overflow-y: auto; 
  background-color: #ffffff;
  box-sizing: border-box; /* Ensures padding is included in height calculation */
  /* Scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #5e69b0 #e5e7eb; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 5px;
  border: 2px solid #e5e7eb;
}

input, textarea, select, button {
  font-family: "Garamond", serif;
}

label {
  font-family: "Garamond", serif;
}

::placeholder {
  font-family: "Garamond", serif;
}

.button {
    display: inline-block;
    background-color: #1F2937;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.button_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.unfollow-btn{
    display: inline-block;
    background-color: #1F2937;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    margin: auto;
    transition: background-color 0.3s ease;
}

.curator-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}