.bookshelf {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-top:  10px;
  margin-bottom:  15px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

.bookshelves-container {
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 8px;
  background-color: #ebebeb;
}

.bookshelf.special-bookshelf {
  background-color: whitesmoke;
  border: 2px solid rgb(2, 2, 47);
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.bookshelf h2 {
  margin-top: 0;
}

.books {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
}

.book-card {
  text-align: center;
}

.book-thumbnail {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

.bookshelf-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.bookshelf-footer a {
  text-decoration: none;
  color: #007bff;
}

.bookshelf-footer a:hover {
  text-decoration: underline;
}

 