/* _club_card.html.erb */
.clubs-cards-container {
    margin-right: 10px;
    width: 100%
}

.club-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1;
    padding: 16px;
    max-width: 350px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px #1f2937;
}

.club-card h2 {
    margin: 0 10px;
}

.club-card .club-stats {
    color: #666;
    font-size: 1rem;
}

.club-card .club-header {
    text-align: right;
}

.club-card .club-info {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px #1f2937;
}

.club-card .club-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.club-body {
    display:flex;
    flex-direction: column;
}

.club-posts {
    display: flex;
    flex-direction: column;
}



