.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #1f2937; /* dark gray */
  }

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    color: #ffffff;
}
  
.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    float: right;
}

.footer-link {
    display: inline-block;
    color: #ebebeb;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    margin: 10px 0;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
.footer-link:hover {
    transform: scale(1.2);
    color: #6184D8; /* soft blue */
}
  
.footer-link.active {
    border-bottom: 2px solid #6184D8;
    color: #ebebeb;
    color: #6184D8; /* soft blue */
}
  
.footer-action {
    float: left;
}

.footer-message {
    font-size: 0.9rem;
    color: #ffffff;
}
.footer-register-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.footer-register-link:hover {
    text-decoration: underline;
}