.page-layout {
    display: grid;
    grid-template-columns: 22% 50% 25%;
    gap: 1%;
    background-color: #ebebeb;
}

.section {
    background-color: #ebebeb;
    margin-top: 20px;
}

.section .left-section { 
}

.section .center-section {

}

.home-posts-list {
  list-style-type:none;
  padding: 0; 
  margin: 0;
}

.section .right-section {
  background-color: #ebebeb;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
}


.clubs-container {
    margin-right: 10px;
    width:100%
}

/* CSS accesso non autenticato */
/* Container principale per il contenuto */

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: #ebebeb;
}

.container-big {
    max-width: 100%;
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7fafc; /* Colore di sfondo chiaro */
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Titolo della home page */
  .container-big h1 {
    font-size: 3rem;
    color: #2d3748; /* Colore scuro per il titolo */
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  /* Paragrafo che descrive la pagina */
  .container-big p {
    font-size: 1.2rem;
    color: #4a5568; /* Colore più chiaro rispetto al titolo */
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 600px;
  }
    
  /* Responsività per dispositivi mobili */
  @media (max-width: 768px) {
    .container-big {
      padding: 20px;
    }
  
    .container-big h1 {
      font-size: 2.5rem;
    }
  
    .container-big p {
      font-size: 1rem;
    }
  }
  

  .back-link {
    margin-top: 30px;
    text-align: center;
  }
  
  .back-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .back-link:hover {
    background-color: #cfcfcf;
    text-decoration: underline;
  }