.icon-image {
  width: 1em !important;
  height: 1em !important;
  vertical-align: middle;
}

.missing-icon {
  display: inline-block;
  padding: 0 0.5em;
  background: #eee;
  border-radius: 3px;
  font-size: 0.8em;
}