.split-container {
  display: flex;
  max-width: 95vw;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 12px;
  border-color: #ddd;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.right-column {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.user-description {
  flex-grow: 4;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between cards */
}

.user-card {
  border: 1px solid #dddddd;
  border-radius: 20px;
  padding: 15px;
  background-color: #fff;
  
  /* Makes card content display horizontally */
  display: flex;
  align-items: center; /* Vertically centers content */
  gap: 15px; /* Adds spacing between elements inside the card */
}

.user-content {
  display: flex;
  gap: 24px;
  padding: 20px;
}

.bookshelves--user {
  max-width: 25%;
  flex: 1;
  border-right: 1px solid #ddd;
  padding-right: 16px;
}

.posts--user {
  flex: 2;
  padding-left: 16px;
}

/* User card layout */
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensures vertical alignment */
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.user-info {
  flex-grow: 1;

}

.user-card:hover {
  background-color: #f8f9fa;
}

.user-actions {
  display: flex;
  gap: 8px;
}
