.split-container {
  display: flex;
  gap: 20px;
  max-width: 95vw;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 12px;
  border-color: #ddd;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.right-column {
  flex: 2;
  height: 100%;
}

.user-info,
.reporting,
.user-description {
  border: 1px solid #dddddd; /* bordino grigio chiaro */
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
}


.bookshelves, .posts {
  margin-top: 20px;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.bookshelf, .post {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.bookshelf h3, .post h3 {
  margin: 0;
}

.bookshelf p, .post p {
  margin: 5px 0;
}