.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Allinea il testo al centro */
    padding: 20px;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333; /* Colore del testo */
  }
  
  .links {
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .links a {
    text-decoration: none;
    color: #1f2937;
  }
  
  .links a:hover {
    text-decoration: underline;
    color: #1f2937;
  }
  
  /* Aggiungi uno sfondo chiaro al corpo per migliorare l'aspetto */
  body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  
  /* app/assets/stylesheets/users_edit.css */

/* Stile per i messaggi di errore */
.error-messages {
    color: red;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .error-messages h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .error-messages ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .error-messages li {
    margin: 5px 0;
  }
  
  /* Stile per il contenitore del form */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Stile per i campi di input */
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-control:focus {
    border-color: #1f2937;
    outline: none;
    box-shadow: 0 0 5px #1f2937;
  }
  
  /* Stile per il link "Change Password" */
  .btn-link {
    color: #1f2937;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 10px;
  }
  
  .btn-link:hover {
    text-decoration: underline;
  }
  
  /* Stile per il pulsante di submit */
  .btn-submit {
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn-submit:hover {
    background-color: #1f2937;
  }
  
  /* Aggiungi uno sfondo chiaro al corpo per migliorare l'aspetto */
  body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
  }
  